@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   h1, h2, h3, h4, h5, h6 {
      font-family: 'Poppins', sans-serif;
   }
   
   p, small, input, button, a {
      font-family: 'Roboto Mono', sans-serif;
   }
   
   .section {
      @apply my-3 mx-auto md:my-8 md:p-8 md:w-[90vw] md:bg-white md:shadow-md md:rounded-[0.425rem] md:shadow-slate-200;
   }
}

@keyframes move-in {
   0%,
   100% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(1rem);
   }
}
